/* 
********************
Table of Content:

(1)- Color Palette
(2)- Typography
(3)- Universal Styling
(4)- Type Properties
(5)- Flexbox and Position
(6)- SVG Style
(7)- Wrapper
(8)- Poster
(9)- SVG Position
(10)- SVG Properties
(11)- Upper <div>
(12)- More <p>
(13)- Talent <p>
(14)- Lower <div>
(15)- Less <p>
(16)- Ego <p>
(17)- Media Querry 360px
    (17.1)- SVG Position
    (17.2)- More
    (17.3)- Talent
    (17.4)- Less
    (17.5)- Ego
(18)- Media Querry 571px
    (18.1)- SVG Position
    (18.2)- More
    (18.3)- Talent
    (18.4)- Less
    (18.5)- Ego

********************
*/
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
  background-color: #ffffff;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.wrapper .poster {
  width: 100%;
  height: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper .poster .svg-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
}

.wrapper .poster .svg-wrapper svg {
  position: absolute;
  z-index: 50;
}

.wrapper .poster .svg-wrapper svg .arrow-head {
  stroke-width: 4px;
  stroke: #D3AE56;
  fill: none;
}

.wrapper .poster .svg-wrapper svg #top {
  -webkit-transform: translateY(-80px);
          transform: translateY(-80px);
}

.wrapper .poster .svg-wrapper svg #bottom {
  -webkit-transform: translateY(80px);
          transform: translateY(80px);
}

.wrapper .poster .svg-wrapper svg #left {
  -webkit-transform: translateX(-80px);
          transform: translateX(-80px);
}

.wrapper .poster .svg-wrapper svg #right {
  -webkit-transform: translateX(80px);
          transform: translateX(80px);
}

.wrapper .poster .upper {
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #E6614E;
  position: relative;
}

.wrapper .poster .upper p {
  text-transform: uppercase;
  position: absolute;
  color: #ffffff;
  font-size: 16px;
}

.wrapper .poster .upper p:first-child {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 85px;
  bottom: 155px;
}

.wrapper .poster .upper p:last-child {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 190px;
  bottom: -56px;
  z-index: 60;
}

.wrapper .poster .lower {
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  position: relative;
}

.wrapper .poster .lower p {
  text-transform: uppercase;
  position: absolute;
  color: #E6614E;
  font-size: 16px;
}

.wrapper .poster .lower p:first-child {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 160px;
  top: -64px;
}

.wrapper .poster .lower p:last-child {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 85px;
  top: 123px;
  color: #D3AE56;
}

@media (max-width: 360px) {
  .wrapper .poster .svg-wrapper {
    width: 250px;
    height: 250px;
  }
  .wrapper .poster .upper p:first-child {
    text-transform: uppercase;
    position: absolute;
    color: #ffffff;
    font-size: 24px;
    bottom: 56px;
  }
  .wrapper .poster .upper p:last-child {
    text-transform: uppercase;
    position: absolute;
    color: #ffffff;
    font-size: 60px;
    bottom: -18px;
  }
  .wrapper .poster .lower p:first-child {
    text-transform: uppercase;
    position: absolute;
    color: #E6614E;
    font-size: 60px;
    top: -23px;
  }
  .wrapper .poster .lower p:last-child {
    text-transform: uppercase;
    position: absolute;
    color: #D3AE56;
    font-size: 24px;
    top: 55px;
  }
}

@media (min-width: 361px) and (max-width: 571px) {
  .wrapper .poster .svg-wrapper {
    width: 300px;
    height: 300px;
  }
  .wrapper .poster .upper p:first-child {
    text-transform: uppercase;
    position: absolute;
    color: #ffffff;
    font-size: 36px;
    bottom: 66px;
  }
  .wrapper .poster .upper p:last-child {
    text-transform: uppercase;
    position: absolute;
    color: #ffffff;
    font-size: 80px;
    bottom: -25px;
  }
  .wrapper .poster .lower p:first-child {
    text-transform: uppercase;
    position: absolute;
    color: #E6614E;
    font-size: 65px;
    top: -25px;
  }
  .wrapper .poster .lower p:last-child {
    text-transform: uppercase;
    position: absolute;
    color: #D3AE56;
    font-size: 30px;
    top: 55px;
  }
}
/*# sourceMappingURL=style.css.map */