/* 
********************
Table of Content:

(1)- Color Palette
(2)- Typography
(3)- Universal Styling
(4)- Type Properties
(5)- Flexbox and Position
(6)- SVG Style
(7)- Wrapper
(8)- Poster
(9)- SVG Position
(10)- SVG Properties
(11)- Upper <div>
(12)- More <p>
(13)- Talent <p>
(14)- Lower <div>
(15)- Less <p>
(16)- Ego <p>
(17)- Media Querry 360px
    (17.1)- SVG Position
    (17.2)- More
    (17.3)- Talent
    (17.4)- Less
    (17.5)- Ego
(18)- Media Querry 571px
    (18.1)- SVG Position
    (18.2)- More
    (18.3)- Talent
    (18.4)- Less
    (18.5)- Ego

********************
*/

// (1)- Color Palette
$primary: #E6614E;
$secondary: #D3AE56;
$highlight: #ffffff;
$background: #F2F2F2;

// (2)- Typography
$oswald: 'Oswald', sans-serif;
$open-sans: 'Open Sans', sans-serif;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;

$title: 60px;
$lg: 48px;
$md: 24px;
$sm: 16px;

// (3)- Universal Styling
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    background-color: $highlight;
}

// (4)- Type Properties (here are some common type styling)
@mixin typeProperties($color, $size: 16px) {
    text-transform: uppercase;
    position: absolute;
    color: $color;
    font-size: $size;
}

// (5)- Flexbox and Position (here are some common position styling)
@mixin flexPosition($bg) {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $bg;
    position: relative;
}

// (6)- SVG Style (here are some common SVG styling)
@mixin svgStyle {
    stroke-width: 4px;
    stroke: $secondary;
    fill: none;
}

// (7)- Wrapper (container)
.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    // (8)- Poster (container)
    .poster {
        width: 100%;
        height: 800px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
        // (9)- SVG Position
        .svg-wrapper {
            width: 100%;
            height: 100%;
            position: absolute;

            svg {
                position: absolute;
                z-index: 50;

                // (10)- SVG Properties
                .arrow-head {
                    @include svgStyle();
                }

                #top {
                    transform: translateY(-80px);
                }

                #bottom {
                    transform: translateY(80px);
                }

                #left {         
                    transform: translateX(-80px);
                }

                #right {
                    transform: translateX(80px);
                }

            }
        }

        // (11)- Upper <div> (container)
        .upper {
            @include flexPosition($primary);

            p {
                @include typeProperties($highlight);
            }

            // (12)- More <p>
            p:first-child {
                font-family:$open-sans;
                font-weight: $regular;
                font-size: 85px;
                bottom: 155px;
            }

            // (13)- Talent <p>
            p:last-child {
                font-family:$oswald;
                font-weight: $bold;
                font-size: 190px;
                bottom: -56px;
                z-index: 60;
            }
        }

        // (14)- Lower <div> (container)
        .lower {      
            @include flexPosition($highlight);

            p {
                @include typeProperties($primary);
            }

            // (15)- Less <p>
            p:first-child {
                font-family: $oswald;
                font-weight: $medium;
                font-size: 160px;
                top: -64px;
            }

            // (16)- Ego <p>
            p:last-child {
                font-family:$open-sans;
                font-weight: $regular;
                font-size: 85px;
                top: 123px;
                color: $secondary;
            }
        }
    }
}

// (17)- Media Querry 360px
@media (max-width: 360px) {
    .wrapper {
        .poster {

            // (17.1)- SVG Position
            .svg-wrapper {
                width: 250px;
                height: 250px;
            }

            .upper {
              // (17.2)- More
              p:first-child {
                  @include typeProperties($highlight, $md);
                  bottom: 56px;
              }

              // (17.3)- Talent
              p:last-child {
                  @include typeProperties($highlight, $title);
                  bottom: -18px;
              }
            }

            .lower {
              // (17.4)- Less
              p:first-child {
                  @include typeProperties($primary, $title);
                  top: -23px;
              }

              // (17.5)- Ego
              p:last-child {
                  @include typeProperties($secondary, $md);
                  top: 55px;
              }
            }
        }
    }
}

// (18)- Media Querry 571px
@media (min-width: 361px) and (max-width: 571px) {
        .wrapper {
            .poster {
                //(18.1)- SVG Position
                .svg-wrapper {
                    width: 300px;
                    height: 300px;
                }

                .upper {

                    // (18.2)- More 
                    p:first-child {
                        $lg: 36px;
                        @include typeProperties($highlight, $lg);
                        bottom: 66px;
                    }

                    // (18.3)- Talent 
                    p:last-child {
                        $title: 80px;
                        @include typeProperties($highlight, $title);
                        bottom: -25px;
                    }
                }

                .lower {

                    // (18.4)- Less 
                    p:first-child {
                        $title: 65px;
                        @include typeProperties($primary, $title);
                        top: -25px;
                    }

                    // (18.5)- Ego
                    p:last-child {
                        $md: 30px;
                        @include typeProperties($secondary, $md);
                        top: 55px;
                    }
                }
            }
        }
}

